#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

#set($docId = $doc.getFieldValue('id'))
## usually within <div class="row">
<div class="result-document">
#if($doc.getFieldValue('typ')) == 'terc')
    #resval('Nazwa', $doc.getFieldValue('value'))
    #resval('TERC', $doc.getFieldValue('terc'))
    #resval('Rodzaj', $doc.getFieldValue('rodzaj'))
    ## TODO:linki
#elseif ($doc.getFieldValue('typ') == 'simc')
    #resval('Nazwa', $doc.getFieldValue('value'))
    #resval('Rodzaj', $doc.getFieldValue('rodzaj'))
    #resval('Województwo', $doc.getFieldValue('wojewodztwo'))
    #resval('Powiat', $doc.getFieldValue('powiat'))
    #resval('Gmina', $doc.getFieldValue('gmina'))

#elseif ($doc.getFieldValue('typ') == 'ulic')
    #resval('Nazwa ulicy', $doc.getFieldValue('value'))
    ##resval('SYMUL', $doc.getFieldValue('symul'))
    ## TODO:linki
#else
    Unkown typ: $doc.getFieldValue('typ')
#end
</div>
