#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

#set($docId = $doc.getFieldValue('id'))
## usually within <div class="row">
<div class="result-document">
#if($doc.getFieldValue('typ') == 'terc')
    #@resval("Nazwa")#link_for_id($doc)#end
    #@resval("TERC")$doc.getFieldValue('terc')#end
    #@resval("Rodzaj")$doc.getFieldValue('rodzaj')#end
    #link_for_up($doc)#end
#elseif ($doc.getFieldValue('typ') == 'simc')
    #@resval("Nazwa")#link_for_id($doc)#end
    #@resval("Rodzaj")$doc.getFieldValue('rodzaj')#end
    #@resval("Województwo")$doc.getFieldValue('wojewodztwo')#end
    #@resval("Powiat")$doc.getFieldValue('powiat')#end
    #@resval("Gmina")$doc.getFieldValue('gmina')#end

#elseif ($doc.getFieldValue('typ') == 'ulic')
    #@resval("Nazwa ulicy")$doc.getFieldValue('value')#end
    #@resval("SYMUL")$doc.getFieldValue('symul')#end
    ## TODO:linki
#else
    Unkown typ: $doc.getFieldValue('typ')
#end
</div>
