#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

#set($docId = $doc.getFieldValue('id'))
## usually within <div class="row">
#if($doc.getFieldValue('typ') == 'terc')
    <tr class="info">
    #@resval("Nazwa")#link_for_id($doc)#end
    #@resval("TERC")$doc.getFieldValue('terc')#end
    #@resval("Rodzaj")$doc.getFieldValue('rodzaj')#end
    #@resval("")#link_for_up($doc)#end
    </tr>
#elseif ($doc.getFieldValue('typ') == 'simc')
    <tr class="success">
    #@resval("Nazwa")#link_for_id($doc)#end
    #@resval("Rodzaj")$doc.getFieldValue('rodzaj')#end
    #@resval("Województwo")$doc.getFieldValue('wojewodztwo')#end
    #@resval("Powiat")$doc.getFieldValue('powiat')#end
    #@resval("Gmina")$doc.getFieldValue('gmina')#end
    #@resval("")#link_for_up($doc)#end
    </tr>
#elseif ($doc.getFieldValue('typ') == 'ulic')
    <tr class="warning">
    #@resval("Nazwa ulicy")$doc.getFieldValue('value')#end
    #@resval("SYMUL")$doc.getFieldValue('symul')#end
    #@resval("Miasta")
        #if ($doc.getFieldValue('parent').size() > 3)
            <div class="panel-group" id="accordion$foreach.index">
                <div class="panel panel-default mycollapse">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" href="#collapse$foreach.index" data-toggle="collapse" data-parent="#accordion$foreach.index">
                                Rozwiń <span class="badge">$doc.getFieldValue('parent').size()</span>
                            </a>
                        </h4>
                        <div class="panel-collapse collapse" aria-expanded="false" role="tabpanel" id="collapse$foreach.index">
                            <div class="panel-body"
                                #foreach($item in $doc.getFieldValue('parent'))
                                    <a class="list-group-item" href="?q=id:$item&sort=$esc.url('typ asc, value asc')&rows=30">$doc.getFieldValue('miejscowosc')[$foreach.index]</a><br>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #else
            <div>
            #foreach($item in $doc.getFieldValue('parent'))
                <a class="list-group-item" href="?q=id:$item&sort=$esc.url('typ asc, value asc')&rows=30">$doc.getFieldValue('miejscowosc')[$foreach.index]</a><br>
            #end
            </div>
        #end
    #end
    </tr>
#else
    Unkown typ: $doc.getFieldValue('typ')
#end
