#**
 *  Overall HTML page layout
 *#
<!DOCTYPE html>
<html lang="pl">
<head>
  #parse("head.vm")
</head>
  <body>
    <div class="container-fluid">
        <div id="header" class="row">
          #parse("header.vm")
        </div>
        <div id="content" class="row">
          $content
        </div>
        <div id="footer" class="row">
          #parse("footer.vm")
        </div>
    </div>
  </body>
</html>

