#**
 *  Renders the main query form
 *#

<div class="query-box col-md-12">
  <form id="query-form" action="?" method="GET">

    <div class="form-group">
        Find:
        <input class="form-control" type="text" id="q" name="q" value="$!esc.html($params.get('q'))"/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" id="querySubmit" />
        <input class="btn btn-default" type="reset"/>
    </div>

    #foreach($fq in $request.params.getParams('fq'))
      #if ($fq != "{!bbox}")
        <input type="hidden" name="fq" id="allFQs" value="$esc.html($fq)"/>
      #end
    #end
    #set($srt = $request.params.get("sort"))
    #if ($srt && $srt != '')
        <input type="hidden" name="sort" value="$esc.html($srt)" id="sort" />
    #else
        <input type="hidden" name="sort" value="typ asc, score desc, value asc" id="sort" />
    #end    
    #set($rows = $request.params.get("rows"))
    #if ($rows && $rows != '')
        <input type="hidden" name="rows" value="$esc.html($rows)" />
    #else
        <input type="hidden" name="rows" value="30" />
    #end    

    <div class="constraints" #annTitle("Lists out the &fq filters.  Click to remove.")>
      #foreach($fq in $params.getParams('fq'))
        #set($previous_fq_count=$velocityCount - 1)
        #if($fq != '')
          &gt;
          <a style="{text-decoration: line-through;}"
            href="#url_for_filters($request.params.getParams('fq').subList(0,$previous_fq_count))"
          >$fq</a>
        #end
      #end
    </div>

    <div class="parsed_query_header">
      #set($queryOpts = $request.params.get("queryOpts"))
      #if($queryOpts && $queryOpts != "")
        <input type="hidden" name="queryOpts" value="$queryOpts"/>
      #end
    </div>

  </form>
</div>
