#**
 *  Global macros used by other templates.
 *  This file must be named VM_global_library.vm
 *  in order for Velocity to find it.
 *#

#macro(resval $colname)
    #if ($colname && $colname != "")
        <td>
    #else
        <td style="vertical-align: middle;">
    #end
        <table class="table">
            #if ($colname && $colname != "")
                <thead>
                    <tr>
                        <th>
                            <span>$colname</span>
                        </th>
                    </tr>
                </thead>
            #end
            <tbody>
                <tr>
                    <td>
                        <span>$!bodyContent</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
#end
#macro(link_for_id $doc)
    <a href="?q=parent:$doc.getFieldValue('id')&sort=$esc.url('typ asc, score desc, value asc')&rows=30">$doc.getFieldValue('value')</a>
#end
#macro(link_for_up $doc)
    <a href="?q=id:$doc.getFieldValue('parent')[0]&sort=$esc.url('typ asc, score desc, value asc')&rows=30">Przejdź wyżej</a>
#end

#macro(param $key)$request.params.get($key)#end

#macro(url_root)/solr#end

## TODO: s/url_for_solr/url_for_core/ and s/url_root/url_for_solr/
#macro(url_for_solr)#{url_root}#if($request.core.name != "")/$request.core.name#end#end
#macro(url_for_home)browse#end

#macro(q)&q=$!{esc.url($params.get('q'))}#end

#macro(fqs $p)#foreach($fq in $p)#if($velocityCount>1)&#{end}fq=$esc.url($fq)#end#end

#macro(debug)#if($request.params.get('debugQuery'))&debugQuery=true#end#end

#macro(boostPrice)#if($request.params.get('bf') == 'price')&bf=price#end#end        
#macro(annTitle $msg)#if($annotate == true)title="$msg"#end#end

#macro(spatial)#if($request.params.get('sfield'))&sfield=store#end#if($request.params.get('pt'))&pt=$request.params.get('pt')#end#if($request.params.get('d'))&d=$request.params.get('d')#end#end

#macro(url_for_start $start)#url_for_home#lens&start=$start#end

#macro(url_for_filters $p)#url_for_home#lens#if($list.size($p) > 0)&#fqs($p)#end#end

#macro(lensNoQ)&sort=$!{esc.url($params.get('sort'))}&rows=$!{esc.url($params.get('rows'))}#end
#macro(lens)#?#q&#lensNoQ#end

## TODO: convert to use {!raw f=$field}$value (with escaping of course)
#macro(url_for_facet_filter $field $value)#url_for_home#lens&fq=#if($value!=$null)$esc.url($field):%22$esc.url($value)%22#else-$esc.url($field):[*+TO+*]#end#end

#macro(link_to_previous_page $text)
  #if($page.current_page_number > 1)
    #set($prev_start = $page.start - $page.results_per_page)
    <a class="prev-page" href="#url_for_start($prev_start)">$text</a>
  #end
#end

#macro(link_to_next_page $text)
  #if($page.current_page_number < $page.page_count)
    #set($next_start = $page.start + $page.results_per_page)
    <a class="next-page" href="#url_for_start($next_start)">$text</a>
  #end
#end
